@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex-grow: 1;
}
